body {
  /* background-image: url(images/coffee-bean.png); */
  background-color: rgba(100, 13, 13, 0.898);
  background-size: auto;
  margin: 20px;
  padding: 20px;
}


.monHeader {
  display: flex;
  /* justify-content: space-evenly;
    text-align: center; */
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(96, 197, 24, 0.509); */
}
.menuPrincipal {
    justify-content: space-around;
}
.logo {
  width: 100px;
}
.link {
  display: flex;
  list-style: none;
  /* gap: 50px; */
  width: 100%;
  justify-content: space-between;
  font-size: 30px;
}
.block1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  background-color: blanchedalmond;
  margin-top: 20px;
}

.block2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  background-color: blanchedalmond;
  margin-top: 20px;
}

.picture-block {
  /* width: 80%; */
  width: auto;
height: 300px;
}
.contenuTextuel{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 50%;
}
h1{
    text-align: center;
    font-size: 100px;
    text-decoration-line: underline;
    color: rgb(85, 2, 2);
}
.loginIcon{
    width: 30px;
    list-style-type: none;
}

/* .loginList{
    display: flex;
    list-style-type: none;
    color: rgb(40, 38, 38);
    flex-direction: column;
} */
.loginMenu ul li{
    position: relative;
}
.loginMenu ul ul{
    position: absolute;
    top: 1em;
    left: 0;
    display: none;
}
.loginMenu ul > li:hover ul{
    position: block;
}
.fullPage{
    width: 100%;
    height: auto;
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cornsilk;
}
.fullPageImage{
    width: 100%;

}
.fullPage p{
    font-size: 20px;

}

.logoCoffee{
    width: 15px;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
 
}

.footer-links {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    gap: 40px;
}
.copyright{
    text-align: center;
    margin-top: 20px;
    border-top: solid 2px black ;
}

.social-media{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

main{
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

fieldset{
    background-color: blanchedalmond;
}

.hover-reveal-coffee::after {
    content:'$​';
    opacity: 0;
    margin: -3px;
    transition: 2s;
}

.hover-reveal-coffee:hover::after {
    opacity: 1;
    margin-right: 0px;
}

.hover-reveal-tea:hover{
    color: brown;
    background-color: blueviolet;
}

/* .pageEntiere{
     isplay: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
} */

/* ---------------------MENU BURGER----------------- */
.menu-burger{
    display: none; 
    /* fait disparaitre le menu burger */
    width: 100%;
    height: 100%;
}
nav{
    height: 50px;
}
.menu-burger::before, .menu-burger::after{
    content:"";
    width: 100%;
    height: 50%;
    background-color: #eafbff;
}
.menu-burger nav{
    top: 0;
    z-index: 1;
    width: 100%;
}
.navigation{
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 5px; 
    line-height: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-burger ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 0;
    overflow: hidden;
    transition: .4s cubic-bezier(.77, 0,.18,1);
}
.menu-burger.active ul{
    width: 420px;
    margin-right: 20px;
} 
a{
    color: #888;
    text-decoration: none;
    transition: .3s;
}
a:hover{
    color: #3c9dfb;
}
.basculant{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 48px;
    padding: 14px 5px;
    cursor: pointer;
}
.menuBurger:not(.active) .nav-toogler{
    margin-left: -10px;
}
.basculant::before, .basculant::after{
    content:"";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #3c9dfb;
    transition: .4s cubic-bezier(.77, 0,.18,1);
}
.basculant::after{
    margin-top: 10px;
}

.menuBurger.active .basculant::before, .menuBurger.active .basculant::after{
    position: absolute;
    top: 50%;
    background-color: #3C9DFB;
    transform: rotate(135deg);
}
.menuBurger.active .basculant::after {
    transform: rotate(-135deg);
    margin-top: 0;
}/*Mise en  place appear dissapear Media Query
On va priviliégier des tailles relatives plutoit  que fixes pour le responsive
donc les % et vh, vw, rem et em plutot que px
*/

/* ----------------------- FIN MENU BURGER ----------------*/


/*------------------media Query-----------------/
  /On peut ecrire min-width ou max-width personnellement je prefere le max/
  /EXEMPLE/
  /Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px 
        @media screen and (max-width: 1280px)
    Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px 
        @media all and (min-width: 1024px) and (max-width: 1280px)
    Sur tous types d'écrans orientés verticalement 
        @media all and (orientation: portrait)
        REGARDER le overflow : scroll ,pour un texte qui dépasse de sa boite parent*/
 @media screen and (max-width: 800px) {
            .monHeader{
                display: none;
            }
            .menu-burger{
                display: block;
            }
            main{
                
            }
            .block1{
                display: flex;
                flex-direction: column-reverse;
                /* max-width: 70%; */
                margin: auto;
                padding: auto;
                /* border: 2px solid black; */
                margin-bottom: 10px;
                border-radius: 10px;
            }
            .block2{
               display: flex;
               flex-direction: column;
               /* max-width: 70%; */
               margin: auto;
               padding: auto;
               margin-bottom: 10px;
               border-radius: 10px;
            }
            /* .contenuTextuel{
                font-size: 20px;
                display: flex;
                text-align: center;
            } */
            .fullPage{
                display: flex;
                flex-direction: column;
                /* max-width: 70%; */
                margin: auto;
                padding: auto;
                text-align: center;
                border-radius: 10px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            .fullPage p{
                font-size: 14px;
            }
            .loginIcon{
                display: none;
            }
            /* nav{
                display: flex;
                flex-direction: row;
                align-items: center;
            } */
            .navigation{
                display: flex;
                border: 5px solid black;
                height: 50px;
                width: 50%;
                /* justify-content: center; */
            };

            footer{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .footer-content{
                display:flex;
                flex-direction: column-reverse;
                align-items: center;
                font-size: 20px;
                text-align: center;
                font-size: 14px;
            }
            .logoCoffee{
                display: none;
            }
            .copyright{
                border-top: none;
                margin-top: 50px;
            }
            .picture-block{
                height: auto;
                width: 100%;
            }

            .contenuTextuel{
                width: 90%;
                font-size: 16px;
            }

        }