body {
  /* background-image: url(images/coffee-bean.png); */
  background-color: rgba(100, 13, 13, 0.898);
  background-size: auto;
  margin: 20px;
  padding: 20px;
}
.monHeader {
  display: flex;
  /* justify-content: space-evenly;
    text-align: center; */
    justify-content: space-between;
    align-items: center;
}
.menuPrincipal {
    justify-content: space-around;
}
.logo {
  width: 100px;
}
.link {
  display: flex;
  list-style: none;
  /* gap: 50px; */
  width: 100%;
  justify-content: space-between;
  font-size: 30px;
}
.loginIcon{
    width: 30px;
    list-style-type: none;
}
.loginMenu ul li{
    position: relative;
}
.loginMenu ul ul{
    position: absolute;
    top: 1em;
    left: 0;
    display: none;
}
.loginMenu ul > li:hover ul{
    position: block;
}
.logoCoffee{
    width: 15px;
    margin-top: 20px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
 
}
.footer-links {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    gap: 40px;
}
.copyright{
    text-align: center;
    margin-top: 20px;
    border-top: solid 2px black ;
}
.social-media{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
main{
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

fieldset{
    background-color: blanchedalmond;
}

.hover-reveal-coffee::after {
    content:'$​';
    opacity: 0;
    margin: -3px;
    transition: 2s;
}

.hover-reveal-coffee:hover::after {
    opacity: 1;
    margin-right: 0px;
}

.largeDisplay{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.largeDisplayContent{
background-color: rgba(255, 248, 220, 0.795);
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: space-around;
margin: 10px;
align-items: center;
text-align:center;
padding-top: 20px;
padding-bottom: 10px;
}

.largeDisplayContent p{
    font-size: 18px;
    width: 70%;
    text-align: center;
    margin-top: 10px;
}

.largeDisplayContent img{
    width: 300px;
    border-radius: 5px;
    ;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: rgb(198, 110, 110);
    color: rgb(16, 16, 16);
    font-size: 20px;
}
button:hover{
    background-color: rgb(255, 148, 148);
    cursor: pointer;
}

image:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}